.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.ruleName {
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
}
